{% extends "layout.html" %}

{% block title %} Account Status {% endblock %}

{% block content %}
        <style>
            /* input {
                position: absolute;
                left: 150px;
            }

            select {
                position: absolute;
                left: 150px;
            } */
        </style>
        <div class="form1">
            <h1 style="color:#032583">Register Patient</h1>



            <form action="" method="POST">
               <label for="pid"><b>Patient ID Number</b></label>
				<input type="text" placeholder="Enter Patient ID" name="pid" ><br>
				<label for="pname"><b>Patient Name<b></label>
				<input type="text" placeholder="Enter Patient Name" name="pname" ><br>

				<label for="gender"><b>Gender</b></label>
				<input type="text" placeholder="Gender " name="gender" required><br>

				<label for="age" ><b>Patient Age</b></label>
				<input type="text" placeholder="Enter Age " name="Age" ><br>
				<label for="Risk"><b>Health Risk</b></label>
				<input type="text" placeholder="Enter Risk Type" name="risk" ><br>
				<label for="peid"><b>Patient having Equipment Number</b></label>
				<input type="text" placeholder="Enter Equipment ID" name="peid"><br>
				<label for="pdno"><b>Patient admitted to department </b></label>
				<input type="text" placeholder="Enter patient admitted department number" name="pdno"><br>
				<label for="phospid"><b>Patient admitted in hospital </b></label>
				<input type="text" placeholder="Enter patient admitted hospital number" name="phospid"><br>
                <pre>(*)Fields are compulsary</pre>
                <button class="button" type="submit">Submit</button> &nbsp;
                <button class="rbutton" type="reset">Reset</button>

            </form>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <h3 style="color: red;  font-weight: bold; font-size: larger;"> {{ msg }} </h3>
                {% endfor %}
            {% endif %}
        {% endwith%}

        </div>
    {% endblock %}
