{% extends "layout.html" %}

{% block title %} Hospial Status {% endblock %}

{% block content %}

<div class="astatus">

    <h1 style="color: rgb(228, 1, 1);" >Delete Hospital </h1><br>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p> {{ msg }} </p>
            {% endfor %}
        {% endif %}
    {% endwith%}

    <table >
        <tr>
              <th>Hospital ID</th>
            <th>Hospital NAME</th>
		
           <th> Hospital Location</th>
			<th></th>


        </tr>
         {% for update in updatep %}
        <tr>

            <td> {{ update.hospital_id }} </td>
            <td> {{ update.hospital_name }} </td>
            <td> {{ update.hospital_location }} </td>
          
            <td> <button type="button" class="ubutton" onclick="window.location='deletehospitaldetail/{{ update.hospital_id }}'"> delete Hospital </button> </td>
        </tr>
        {% endfor %}
    </table>
    <br>

    <form action="{{ url_for('deletehosp') }}">
    <button type="submit" class="ibutton" value="Refresh the list">Refresh Status</button>
    </form>
</div>

{% endblock %}
