{% extends "layout.html" %}

{% block title %} Staff Status {% endblock %}

{% block content %}

<div class="astatus">

    <h1 style="color: rgb(228, 1, 1);" >Delete Staff </h1><br>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p> {{ msg }} </p>
            {% endfor %}
        {% endif %}
    {% endwith%}

    <table >
        <tr>
              <th>Staff ID</th>
            <th>NAME</th>
			<th>DESIGNATION</th>
            <th>AGE</th>
            <th>GENDER</th>
            <th>STAFF DEPARTMENT NNUMBER </th>
            <th>PATIENT EQUIPMEMT NUMBER</th>

            <th></th>

        </tr>
        {% for update in updatep %}
        <tr>

            <td> {{ update.ssn_id }} </td>
            <td> {{ update.s_name }} </td>
            <td> {{ update.designation }} </td>
            <td> {{ update.age }} </td>
            <td> {{ update.sex }}</td>
            <td> {{ update.s_dno }} </td>
            <td> {{ update.s_eqp_id }} </td>
            <td> <button type="button" class="ubutton" onclick="window.location='deletestaffdetail/{{ update.ssn_id }}'"> Delete Staff </button> </td>
        </tr>
        {% endfor %}
    </table>
    <br>

    <form action="{{ url_for('deletestaff') }}">
    <button type="submit" class="ibutton" value="Refresh the list">Refresh Status</button>
    </form>
</div>

{% endblock %}
